.banner-about {
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}
.banner--about .banner__bg-container-about {
    background-image: url('../../../img/about-bg-1200.jpg');
}