.travellerFormContainer{
    margin: 15px 0 30px 10px;
    margin-bottom: 30px;
    margin-top: 15px;
    .travellerFormHeading{
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #4a4a4a;
        margin-bottom: 5px;
        margin-left: -15px;
    }
    .travellerFormContent{
        clear: both;
    }
}