.mynav {
    background-color:#ee2b39 !important;
    color: #fff !important;
    //margin-bottom: 0px;
    border: 0;
    border-radius: 0;
   .nav {
       li {
           a {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 11px;
            margin-top: 15px;
            color: #fff;
           }
           a :active , a :hover{
               color: #000;
           }
       }
   }
   .navDropDown a, .dropdown-menu {
       background-color:#ee2b39 !important;
       :hover{
        color: #000;
       }
   }
    .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
    color: #000;
   }
}
@media all and (max-width: 767px) {
    .mynav .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}