.submitBtn {
    background: #ee2b39;
    border: 1px solid #da0010;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    padding: 8px 10px;
    margin: 5px;
}
.custheader{
    text-align: center;
    border-bottom: 1px solid #ee2b39;
    margin-bottom: 20px;
}