.subContent{
    width: 1000px;
    margin: 20px auto auto;
    overflow: hidden;
    border: 1px solid #cacaca;
    padding: 10px;
    h4{
        font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
    display: block;
    }
    .cheader{
        border: 1px solid #ccc;
    padding: 10px;
    width: 977px;
    margin: 20px auto;
    background: #f9f9f9;
    }
    .submitBtn {
        background: #ee2b39;
        border: 1px solid #da0010;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        padding: 8px 10px;
        margin: 5px;
    }
}
.cancelticket>tbody>tr>td{
    border-top: 0px;
}