.bus {
    width: 100%;
    float: left;
    border: 1px solid #dadada;
    height: auto;
    background: #fff;
    border-radius: 4px;
    margin: 8px 0 2px 0;
    padding: 20px;
    padding-bottom: 10px;
    .container {
        border-right: 2px #E3E6E6 solid;
        border-left: 2px #E3E6E6 solid;
        border-bottom: 2px #E3E6E6 solid;
    }
    .busrow-details {
        color: #7e7e8c;
    }
    .amenity-row {
        margin-top: 10px;
        background-color: #fafafa;
        padding: 10px;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 10px;
        margin-bottom: -20px;
    }
    .amenity-row:hover span {
        color: #00b9f5;
    }
   .btn,.btn:active,.btn:focus {
        background: #ee2b39 ;
        border-color: #ee2b39 ;
        color: #fff;
        border:0px    
    }
}
.rowBox{
    border-radius: 9px;
    background-color: #fff;
    border: 1px solid #e3e6e6;
    .rowBoxHeader{
        font-size: 14px;
        font-weight: 600;
        color: #4a4a4a;
        margin-bottom: 20px;
    }
}