.bus-detail {
    border: .5px solid #979797;
    padding-left: 75px;
    position: relative;
    margin-bottom: 15px;
    margin-left: 15px;
}

.boarding-point {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropping-point {
    margin-bottom: 20px; 
}