.paymentSection{
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 1px 8px #ccc;
    margin-top: 10px;
    padding-left: 0!important;
}
.SecuredIcon{
    float: left;
    font-size: 9px;
    margin-top: 7px;
}
.paymentmenu{
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
}
.payment-title {
    margin-bottom: 30px;
    padding: 15px;
}
#left-tabs-example {
    margin-left: 0;
}
.paynow, .paynow:hover{
    height: 36px;
    width: 235px;
    background: #01b9f5 !important;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 800;
}
