 
  footer {
      border-radius: 0 !important;
      border-bottom: 0;
      margin: 20px 0 0;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ececed!important;
      text-align: center;  
      padding: 64px 0 20px;
      font-family: Open\ Sans,sans-serif;
  }
  .sub-footer {
    border-top: 1px solid rgba(255,255,255,0.1);
    background-color: #242121;
    padding: 5px 0;
}
#footer h4{
	margin: 0 0 10px;
  font-weight: 600;
  font-size: 13px;
  font-family: Open\ Sans,sans-serif;
}
iframe{
  border: 5px dotted green;
}
.back-to-top {
  text-align: right;
  font-family: Open\ Sans,serif;
  font-size: 22px;
  color: #333;
  margin: 15px 0;
}