#content {
    padding-top: 70px;
    min-height: "calc(100vh - 92px)";
  }
  
  footer {
        border-radius: 0 !important;
    border-bottom: 0;
    margin: 20px 0 0;
  
  }
  .sub-footer {
    border-top: 1px solid rgba(255,255,255,0.1);
    background-color: #242121;
    padding: 5px 0;
}
.sub-footer p {
  margin: 0;
  color: #fff;
}